---
title: Analysis
icon: fa-chart-bar
order: 4
---
<div style="text-align: justify">
<p>Now let's talk about the core of our project :  ... </p>

Map 1 test

{% include Map_1_test_name.html %}


Forest Losses

{% include Forest_Losses.html %}

East-west top 2 tabbed layout

{% include east-west-top-2-tabbed_layout.html %}

Area harvested

{% include Area_harvested.html %}

Forest losses

{% include Forest_losses2.html %}

Grassland losses

{% include Grassland_losses.html %}

Savanna losses

{% include Savanna_losses.html %}

Shrubland losses

{% include Shrubland_losses.html %}

Correlation Map Production quantity VS Forest Area Loss by Geographical Regions

{% include Produced_quantity_VS_Forest_Area_loss.html %}
</div>